<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="./assets/css/quizIndex.css"> -->
    <title>Document</title>
</head>

<body>
    <div id=parent>
        <span id="span">Let's Begin..</span>
        <div id="drive">
            <button class="btn modal-trigger" data-target="modal1">Start New Quiz</button>
        </div>
    </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <a routerLink="/drivePage" class="modal-close waves-effect waves-green" id="close"> <i
                class="material-icons">close</i></a>
        <div class="modal-content">
            <form [formGroup]="driveForm" (ngSubmit)="submitForm()" novalidate>
                <strong>Quiz Name:</strong> <input type="text" formControlName="name">
            </form>
        </div>
        <div class="modal-footer">
            <a (click)="submitForm()" class="modal-close btn waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./assets/js/quizIndex.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>